
.menu {
    display: flex;
    flex-direction: column;
    
}



.menuTabs {
display: flex;

}


.bread {
    margin-top: 40px;

}

.cardWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 24px;
    padding: 24px 16px;
}