.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
}
.selectMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}