.App {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10vw 30vw 10vw;
  grid-gap: 1em;
}

.header {
  grid-column: 1 / span 2;
}

/* Demo Specific Styles */
.App {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

.header,
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}