.App {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10vh 80vh 10vh;
  grid-gap: 1em;
}

.header, footer {
  grid-column: 1 / span 2;
}

/* Demo Specific Styles */
.App {
  margin: 0 auto;
  max-width: 1920px;
}

.header,
.ingredients,
.constructor {
  display: flex;
  align-items: center;
  justify-content: center;
}